#MainWrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 7.5em 5em 10em 1fr 6em;
  grid-template-areas:
    "Header Header"
    "Nav Nav"
    "TechStack TechStack"
    "Game-Info SplashImage"
    "Process Content";
}

#Tech-Stack {
  grid-area: TechStack;
  display: flex;
  justify-content: space-between;
}

#Tech-Stack * {
  width: 100%;
}

#Tech-Stack ul {
  display: flex;
}

#Game-Info {
  grid-area: Game-Info;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

.InfoBox {
  background-color: #faedcd;
  margin: 1em;
  padding: 0.5em;
  border-radius: 1em;
}
#SplashImage {
  grid-area: SplashImage;
  display: flex;

  gap: 1.5em;
}

.VertScreenshots {
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
}

.HorScreenshots {
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
}

.HorScreenshots img {
  max-width: 45%;
  height: auto;
}

.VertScreenshots img {
  max-width: 50%;
  height: auto;
}

.DungeonRaiderImg {
  max-width: 30%;
  height: fit-content;
}

.ScreenshotContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
#Process {
  grid-area: Process;
}

#Content {
  grid-area: Content;
  text-align: center;
}

@media screen and (max-width: 768px) {
  #MainWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #WebHeader {
    font-size: small;
  }

  #SplashImage {
    flex-direction: column;
    width: 100%;
  }

  .VertScreenshots,
  .HorScreenshots {
    padding: 1em;
    width: 100%;
  }

  .DLYHImage {
    max-width: fit-content;
  }
}
