#ProjectsList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 15em;
}

#MainWrapper {
  display: grid;

  grid-template-rows: 7.5em 5em 1fr 15em;
  grid-template-columns: 100%;

  grid-template-areas:
    "Header"
    "Nav"
    "Content"
    "Footer";
}

#ContentWrapper {
  grid-area: Content;
}

.ProjectListItem {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 9fr;

  grid-template-areas:
    "Title Date"
    "Description Image";

  background-color: #d4a373;
  padding: 1em auto;
}

.ProjectsListItemTitle {
  grid-area: Title;
  margin: 0.5em;
}

.ProjectsListItemDate {
  grid-area: Date;
}

.ProjectListItemDesc {
  grid-area: Description;
  margin: 1em;
}

.ProjectListItemImage {
  grid-area: Image;
}

hr {
  border-color: black;
}
