#ProjectList {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1em;
}

h2,
h3 {
  text-align: center;
}

#MainWrapper {
  display: grid;

  grid-template-rows: 7.5em 5em 1fr 15em;
  grid-template-columns: 100%;

  grid-template-areas:
    "Header"
    "Nav"
    "Content"
    "Footer";
}

.ProjectsListItemIcon {
  width: 75%;
  margin: auto;
  padding: 1em;
}

#ContentWrapper {
  grid-area: Content;
}

.ProjectListItem {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.ProjectsListItemDate {
  text-align: center;
}
