#MainWrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 7.5em 5em 1fr 1fr 2fr;
  grid-template-areas:
    "Header Header"
    "Nav Nav"
    "Description SplashImage"
    "Contributions SplashImage"
    "Process Content";
}

#SplashImage {
  grid-area: SplashImage;
}
#Project-Description {
  grid-area: Description;
}

#Contribution {
  grid-area: Contributions;
}

#Process {
  grid-area: Process;
}

#Content {
  grid-area: Content;
}
